/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 10%;
  padding: 0px;
  
  }

/* Clear floats after image containers */
.row {
  content: "";
  clear: both;
  display: table;
 padding: 0px;

  margin:0px;outline:none;
   
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    padding:0px;
}
td img {
    display:table;
}