
<!DOCTYPE html>
<HTML>
<BODY>
<p>Before Image Percentage<p>
{{d}}
<br>
Before Image
<br>
<img src="./static/images/before1.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
<br>
<p>After Image Percentage<p>
{{e}}
<br>
After Image
<br>
<img src="./static/images/after1.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
<br>
<p>Change Percentage<p>
{{f}}
<br>
Change Image
<br>
<img src="./static/images/change.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
<br>
</BODY>
</HTML>